<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
       <title>Lista de usuários</title>
       <script type="text/javascript" src="/content/js/jquery.js"></script>
       <script type="text/javascript" src="/content/js/teste.js"></script>
    </head>
    <body>
      #if ( $model.size() > 0 )
      <h1>Lista de usuários</h1>
      <table>
	       <thead>
	      	  <td>
	      		Id
	      	  </td>
      		  <td>
      			Nome
      		  </td>
      		  <td>
      			Telefone
      		  </td>
	       </thead>
      	   <tbody>
	       #foreach( $usuario in $model ) 
		      <tr>
		        <td>
		          $usuario.id       
		        </td>
		        <td>
		          $usuario.nome        
		        </td>
		        <td>
		          $usuario.telefone       
		        </td>
		        <td>
		          <form action="/excluirusuario" method="post">
		            <input type="hidden" value="$usuario.id" name="id">
		            <input type="submit" value="Excluir">
		          </form>
		        </td>
		      </tr>
	   		#end
   			</tbody>
   	  </table>
	  #end
	  
	  <form method="post" action="usuarios">
	  	<label>Id:</label>
	  	<input id="id" name="id"></input>
	  	<label>Nome:</label>
	  	<input id="nome" name="nome"></input>
	  	<label>Telefone:</label>
	  	<input id="telefone" name="telefone"></input>
	  	<input type="submit" />
	  </form>
   </body>
</html>